MEMORY_LIMIT=24
THREADS=8
WILSON_SCORE_Z_INDEX=1.96
NTFY_NOTIFICATION_TOPIC=
OUTPUT_PATH=
EBIRD_API_KEY=
S3_KEY_ID=
S3_SECRET=
S3_BUCKET=
S3_ENDPOINT=
S3_DIR=
S3_PUBLIC_URL=
SSH_USER=
SSH_HOST=
DOCKER_VOLUME=
DB_SWAP_ENDPOINT=https://api.openbirding.org/api/v1/admin/swap-targets-db
DB_SWAP_ENDPOINT_TOKEN=
MIN_DISK_SPACE_GB=400